:root {
    /* size */
    --header-height: 15vh;
    --footer-height: 10vh;

    --header-grid-template-column: 25% 60% 15%;
    --header-grid-template-column-mobile: 55% 40% 5%;

    --header-nav-mobile-height: 40vh;
    --burger-mobile-height-width: 8vh;

    --card-margin-top-bottom: 12vh;
    --first-card-margin-top: calc(var(--header-height) + var(--card-margin-top-bottom));
    --banner-margin-top: var(--header-height);
    --banner-heigth: calc(100vh - (var(--header-height)));
    --main-width: 100%;

    --map-button-position-top: calc(var(--header-height) + 2vh);
    --map-button-position-right: 2vh;

    --header-footer-width: 100%;
    --card-width: 90%;

    --programme-parts-sizes: 39% 39% 19%;
    --programme-first-part-rows-sizes: 10% 75%;
    --programme-img-width: 70%;

    --apropos-height-width-img: 250px;
    --apropos-height-width-img-mobile: 150px;
    --apropos-parts-sizes: 30% 60%;
    --apropos-text-template-row: auto 40% auto;

    /* colors */

    --header-footer-color-bkg: rgba(52, 73, 94,1.0);
    --body-color-bkg: rgb(141, 163, 185);
    --card-color-bkg: rgba(189, 195, 199, 1.0);
    --buttons-color-bkg: rgb(134, 134, 247);
    --buttons-color-bkg-hover: rgb(106, 106, 248);
    --buttons-color-font: rgb(255, 255, 255);
    --font-color:  rgb(28, 39, 51);

    --googlemap-color-bkg: rgba(52, 73, 94, 0.7);


    --header-footer-color-font: rgba(189, 195, 199, 1.0);

    /* border */
    --border-radius: 15px;
    --border-radius-programme-img: 5px;
    --border-radius-button: 5px;

    /* font size */
    --header-h1-font-size: 1.8rem;
    --h2-font-size: 1.5rem;
    --header-link-font-size: 1.1rem;
    --programme-price-font-size: 2rem;
    --buttons-font-size: 1.1rem;
    --p-a-font-size: 1.1rem;

    --apropos-first-name-font-size: 1.8rem;
    --apropos-description-font-size: 1.3rem;
    --apropos-quotes-font-size: 1.2rem;


    --p-a-font-size-mobile: 1rem;
    --header-h1-font-size-mobile: 1.5rem;
    --h2-font-size-mobile: 1.3rem;
    --header-link-font-size-mobile: 1rem;
    --programme-price-font-size-mobile: 1.6rem;
    --buttons-font-size-mobile: 1rem;
    --apropos-first-name-font-size-mobile: 1.8rem;
    --apropos-description-font-size-mobile: 1.3rem;
    --apropos-quotes-font-size-mobile: 1.2rem;

    /* box-shadow */

    --header-box-shadow: 0px 4px 11px 0px rgba(0,0,0,0.75);
    --footer-box-shadow: 0px -2px 11px 0px rgba(0,0,0,0.75);

    /* Paddings */
    --question-card-padding: 2vh;

   

}

/* Général */
* {
    margin: 0;
    padding: 0;
    font-family: 'Bellota Text', cursive;
    font-size: var(--p-a-font-size);
}

p, h1, h2, h3, #coordonnees li, .fa-clock, .fa-phone, .fa-wheelchair, .fa-deaf, .fa-eye-slash {
   color:var(--font-color);
}

h1 a {
    font-size: var(--header-h1-font-size);
    font-family: 'Josefin Sans', sans-serif;
}

h2{
    font-size: var(--h2-font-size-mobile);
}

/* main */
body {
    background-color: var(--body-color-bkg);
}

.card {
    width: var(--card-width);
    background-color: var(--card-color-bkg);
    min-height: 400px;
    margin: var(--card-margin-top-bottom) auto var(--card-margin-top-bottom) auto;
    border-radius: var(--border-radius);
    min-height: 400px;
    font-size: var(--p-a-font-size);
    padding: 4vh 2vh 4vh 2vh;
    opacity: 0;
}

#banner{
    margin-top: var(--banner-margin-top);
    background-position: bottom;
    background-image: url("content/img/greg-rakozy-ompaz-dn-9i-unspla.jpg");
    background-attachment: fixed;
    background-size: cover;
    height: var(--banner-heigth);
    width: 100%;
}


/* ----------   HEADER  ------------------ */
header {
    position: fixed;
    top: 0;
    width: var(--header-footer-width);
    height: var(--header-height);
    background-color: var(--header-footer-color-bkg);
    color: var(--header-footer-color-font);
    display: grid;
    grid-template-columns: var(--header-grid-template-column);
    box-shadow: var(--header-box-shadow);
}

header a {
    text-decoration: none;
    color: var(--header-footer-color-font);
}

header .title-h1 {
    height: 100%;
    width: 100%;
    display: grid;
    background-color: var(--card-color-bkg);
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
}

header h1 {
    justify-self: center;
    align-self: center;
}

header h1 a {
    color: var(--header-footer-color-bkg);
}

header nav {
    width: 100%;
    display: grid;
    align-content: flex-end;
}

header nav ul {
    width: 100%;
    margin-bottom: 3vh;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

header ul li a {
    position: relative;
    font-size: var(--header-link-font-size);
    transition: transform 250ms ease-in-out;
}

header ul li a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: var(--header-footer-color-font);
    position: absolute;
    top: -1rem;
    left: 0;
    right: 0;
    border-radius: 2px;
    transform: scale(0, 1);
    transition: transform 250ms ease-in-out;
}


header ul li a:hover::before {
    transform: scale(1, 1);
}

#burger {
    display: none;
}


/*--------------------------------------------- CONTACT -------------------------------------------------------------*/ 


    /*---------- Coordonnees ------------------*/


#coordonnees{
    display: grid;
    grid-template-columns: 40% 30%;
    justify-content: center;
    align-items: center;
}

#coordonnees img {
    height: 100%;
}

#coordonnees li {
    list-style-type: none;
}

#firstContact{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 6vh;
}

.title-adress, #horaires {
    text-align: center;
}

.title-adress h2, .horaires-title{
    margin-bottom: 2vh;
}

.title-adress a {
    color: var(--header-footer-color-bkg);
}

#horaires{
    display: grid;
    grid-template-columns: 100%;
    margin-top: 4vh;
}

.horaires-title {
    display: block;
    grid-template-columns: 10% 50%;
    justify-content: center;
}

.reserv-internet {
    margin-top: 6vh;
}

#nantes{
    border-radius: var(--border-radius-programme-img);
}


    /*---------- iFrame ------------------*/
#map-button {
    position: fixed;
    top: var(--map-button-position-top);
    right: var(--map-button-position-right);
    background-color: var(--googlemap-color-bkg);
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    box-shadow: var(--header-box-shadow);
    transform: scale(1);
    transition: box-shadow 250ms ease-in-out, transform 250ms ease-in-out;
}

#map-button:hover {
    box-shadow: none;
    cursor: pointer;
    transform: scale(0.95);
}

#map-button i {
    color: var(--header-footer-color-font);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#google-map {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--googlemap-color-bkg);
    transition: height 350ms ease-in-out;
}

#google-map.hidden {
    height: 0;
}

#google-map.visible {
    height: 100%;
}

#google-map iframe {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


    /*---------- form ---------------*/


.displayForm{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.formTitle{
    text-align: center;
    padding-top: 2rem;
    font-size: var(--h2-font-size);
}

.champsForm{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 18rem;
    border: none;
}

.champsForm input{
    width: 20rem;
    height: 1.5rem;
    border-radius: 25px;
    margin-top: 2rem;
    padding: 1vh 2vh 1vh 2vh;
    background-color: var(--header-footer-color-bkg);
    border: none;
}

#sujet{
    width: 21rem;
    margin-top: 2rem;
    border-radius: var(--border-radius-button);
    background-color: var(--header-footer-color-bkg);
    color: var(--header-footer-color-font);
    border: none;
    padding: 1vh 2vh 1vh 2vh;
    align-self: center;
}

#comment{
    background-color: white;
    height: 13rem;
    width: 30rem;
    border-radius: 5px ;
    margin-top: 2rem;
    background-color: var(--header-footer-color-bkg);
    color: var(--header-footer-color-font);
    border: none;
}

textarea{
    padding: 0.5rem;   
}

::placeholder{
    color: var(--header-footer-color-font);
}


.submit{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 1rem;
    

}

.submit input{
    width: 6rem;
    height: 2rem;
    background-color: var(--buttons-color-bkg);
    border: 0;
    border-radius: var(--border-radius-button);
    color: var(--buttons-color-font);
    font-size: var(--buttons-font-size);
    cursor: pointer;
    transition: all 250ms ease-in-out;
    
}

.submit input:hover {
    transform: scale(0.9);
    background-color: var(--buttons-color-bkg-hover);
}

    /*---------- Questionnaire --------------*/
    .questions-form{
        display: grid;
        grid-template-columns: 50%;
        justify-content: center;
        row-gap: 2vh;
    }

    .question-card {
        background-color: var(--header-footer-color-bkg);
        border-radius: var(--border-radius);
        color: var(--header-footer-color-font);
        padding: var(--question-card-padding);
        display: grid;
        grid-template-columns: 80%;
        justify-content: center;
    }

    .question-items {
        margin-top: 2vh;
    }

    .question-items div{
        display: grid;
        grid-template-columns: 70% 10%;
    }

    .question-items-last {
        display: flex;
        justify-content: space-evenly;
        margin-top: 2vh;
    }

    .question-items div input {
        height: 1.5vh;
        width: 1.5vh;
    }

    .question-items-last div {
        display: flex;
        flex-direction: column;
    }

    .question-card p {
        text-align: center;
        color: var(--header-footer-color-font);
        font-size: var(--apropos-description-font-size);
    }

    .questions-form .submit {
        display: flex;
        justify-content: center;
    }
    

    /*---------- footer --------------*/

footer li {
    list-style-type: none;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: var(--footer-height);
    padding: 3rem 5rem 3rem 5rem;
    background-color: var(--header-footer-color-bkg);
    color: var(--header-footer-color-font);
    box-shadow: var(--footer-box-shadow);
}

footer a {
    text-decoration: none;
    color: var(--header-footer-color-font);
}

#icons {
    width: 20rem;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--header-footer-color-font);
}

.fab:hover{
   color:rgba(226, 207, 157,1.0);
   transform: scale(1.3);
   transition: all 500ms;
}

#links li {
    margin-top: 0.7rem;
}

#links a {
    font-size: var(--header-link-font-size);
}

#copyright {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 8rem;
    
}

#copyright p{
    color: var(--header-footer-color-font);
}
/* ----------   ACCUEIL     ------------------ */

    /*LE PLANETARIUM*/
.article-planetarium {
    display: flex;
    flex-direction: column;
}
.article-title{
    text-align: center;
    margin-top: 8vh;
}
.article-section > div {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.article-g-et-d {
    max-width: 45%;
    display: flex;
    justify-content: space-around;
}
.img-planetarium1 {
    background-image: url("content/img/Webp.net-resizeimage.jpg");
    width : 40%;
    height: 200px;
    border-radius: var(--border-radius);
    background-size: cover;
}
.img-planetarium2 {
    background-image: url("content/img/museums-victoria-6hh_FgZpqD8-unsplash\ \(1\).jpg");
    width : 40%;
    height: 200px;
    border-radius: var(--border-radius);
    background-size: cover;
}
.parent-article-paragraphe {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.article-paragraphe {
    text-align: left;
}
    /*L'ACTU*/

.actu-section {
    justify-content: space-around;
    height: 600px;
}
.actu-section > div {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
}
.img-actu1 {
    background-image: url("content/img/planet\ of\ pat\ debois\ 200px.jpg");
    width : 30%;
    height: 200px;
    margin-right: 4vh;
    border-radius: var(--border-radius);
    background-size: cover;
    background-position: center;
}
.img-actu2 {
    background-image: url("content/img/vue\ de\ la\ terre.jpg");
    width : 30%;
    height: 200px;
    margin-left: 4vh;
    border-radius: var(--border-radius);
    background-size: cover;
    background-position: center;
}
.article-actu1 {
    display: flex;
    justify-content: flex-start;
    margin-top: 10vh;
}
.article-actu2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin-top: 10vh;
}
.parent-article-actu {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.parent-article-actu > h3{
    margin-bottom: 4vh;
}
.actu2 {
    align-items: flex-end;
}
.actu2 > p {
    text-align: right;
}
.article-actu-paragraphe {
    text-align: justify;
}

/* ----------   PROGRAMMES  ------------------ */

.programmes {
    display: grid;
    grid-template-columns: var(--programme-parts-sizes);
    justify-content: space-evenly;
}

.first-part, .second-part, .third-part {
    height: 100%;
}

.first-part {
    display: grid;
    grid-template-rows: var(--programme-first-part-rows-sizes);
    align-content: space-evenly;
}

.first-part .card-title {
    text-align: center;
}

.first-part .img-prog {
    height: 100%;
    width: var(--programme-img-width);
    justify-self: center;
    background-size: cover;
    border-radius: var(--border-radius-programme-img);
    background-position: center;
}

.second-part {
    text-align: justify;
    display: grid;
    align-content: space-evenly;
}

.third-part {
    display: grid;
    align-content: space-evenly;
}

.third-part .card-price {
    text-align: center;
    font-size: var(--programme-price-font-size);
}

.third-part .card-accessibility {
    display: flex;
    justify-content: space-evenly;
    
}

.third-part .card-button {
    padding: 10px;
    width: 50%;
    justify-self: center;
    background-color: var(--buttons-color-bkg);
    border: 0;
    border-radius: var(--border-radius-button);
    color: var(--buttons-color-font);
    font-size: var(--buttons-font-size);
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.third-part .card-button:hover {
    transform: scale(0.9);
    background-color: var(--buttons-color-bkg-hover);
}


/* ----------   A PROPOS  ------------------ */

.apropos {
    display: grid;
    grid-template-columns: var(--apropos-parts-sizes);
    justify-content: space-evenly;
}

.apropos .apropos-img {
    height: var(--apropos-height-width-img);
    width: var(--apropos-height-width-img);
    border-radius: 50%;
    background-size: cover;
    align-self: center;

    -webkit-box-shadow: -7px 7px 22px -2px rgba(110,107,110,1);
-moz-box-shadow: -7px 7px 22px -2px rgba(110,107,110,1);
box-shadow: -7px 7px 22px -2px rgba(110,107,110,1);
}

.apropos .apropos-texts {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: var(--apropos-text-template-row);
    align-content: center;
    grid-row-gap: 15px;
}

.apropos-texts .apropos-first-name {
    font-size: var(--apropos-first-name-font-size);
}

.apropos-texts .apropos-description {
    font-size: var(--apropos-description-font-size);
    text-align: justify;
}

.apropos-texts .apropos-quote {
    font-size: var(--apropos-quotes-font-size);
    font-style: italic;
}


/* -----------------------------------------------------    MOBILE  ---------------------------------------- */
@media only screen and (max-width: 900px) {

    .hidden-mobile {
        display: none;
    }

    * {
        font-size: var(--p-a-font-size-mobile);
    }
    
    h1 a {
        font-size: var(--header-h1-font-size-mobile);
        font-family: 'Josefin Sans', sans-serif;
    }

    h2 {
        font-size: var(--h2-font-size-mobile);
    }

    .card {
        border-radius: inherit;
        margin-right: 0;
        margin-left: 0;
        width: 100%;
        box-sizing: border-box;
    }

    header {
        grid-template-columns: var(--header-grid-template-column-mobile);
    }

    header nav {
        position: fixed;
        top: var(--header-height);
        width: 100%;
        z-index: 100;
        height: 0;
        overflow: hidden;
        background-color: var(--header-footer-color-bkg);
        align-content: inherit;
        transition: height 250ms ease-in-out;
        box-shadow: var(--header-box-shadow);
    }

    header nav.deployed {
        height: var(--header-nav-mobile-height);
    }

    header nav ul {
        height: 100%;
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
    }

    header nav ul li {
        margin-top: 2vh;
    }

    #burger {
        position: absolute;
        top: 5vh;
        right: 8vh;
        display: block;
        height: var(--burger-mobile-height-width);
        width: var(--burger-mobile-height-width);
        display: grid;
        align-items: center;
    }

    #burger .line {
        position: relative;
        display: block;
        width: 100%;
        height: 5px;
        border-radius: 2px;
        background-color: var(--header-footer-color-font);
    }

    #burger .line::before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 5px;
        background-color: var(--header-footer-color-font);
        border-radius: 2px;
        transform: translateY(-2vh);
    }

    #burger .line::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 5px;
        background-color: var(--header-footer-color-font);
        border-radius: 2px;
        transform: translateY(2vh);
    }

    #burger .line,
    #burger .line::before,
    #burger .line::after {
        transition: transform 250ms ease-in-out;
    }

    #burger.cross .line::before,
    #burger.cross .line::after {
        transform: translateY(0);
    }

    #burger.cross .line::before {
        transform: rotate(45deg);
    }

    #burger.cross .line::after {
        transform: rotate(-45deg);
    }

    /*---------- form ---------------*/

    .displayForm{
        flex-direction: column;
        align-items: center;
    }
    
    #comment{
        margin-top: 0;
        width: 20rem;
    }

    .submit{
        margin-bottom: 1rem;
        justify-content: center;
    }

    .submit input {
        font-size: var(--buttons-font-size-mobile);
    }

    #links a {
        font-size: var(--header-link-font-size-mobile);
    }

    /*---------- Questionnaire ---------------*/

    .questions-form{
        grid-template-columns: 100%;
    }

    .question-card {
        grid-template-columns: 95%;
    }

    .question-items div{
        display: grid;
        grid-template-columns: 95% 5%;
    }

    .question-card p {
        text-align: center;
        color: var(--header-footer-color-font);
        font-size: var(--apropos-description-font-size-mobile);
    }

    .questions-form .submit {
        display: flex;
        justify-content: center;
    }

    /*---------- coordonées --------------*/

    #google-map iframe {
        border-radius: inherit;
    }

    #coordonnees{
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        align-items: center;
    }
    
    #firstContact{
        text-align: center;
    }
    
    .title-adress h2, .horaires-title{
        margin-bottom: 2vh;
    }
    
    #horaires{
        display: grid;
        grid-template-columns: 100%;
    }
    
    .horaires-title {
        display: block;
        justify-content: center;
    }
    
    #nantes{
        display: none;
    }   

    /*---------- footer --------------*/

    footer{
        flex-direction: column;
        height: 15rem;
        padding-top: 2rem;
        text-align: center;
    }

    #copyright{
        margin-top: 1.5rem;
    }

    #icons{
        margin-top: 1.5rem;
    }

    #links{
        margin-top: 1.5rem;
    }
    /* ----------   ACCUEIL     ------------------ */

    /* ARTICLE PLANETARIUM */
    
    .article-planetarium > div{
        flex-direction: column;
        width: 90%;
        margin: auto;
    }
    .article-title {
        margin-bottom: 8vh;
    }
    .article-g-et-d {
        flex-direction: column;
        max-width: none;
        width: 100%;
        margin: auto;
        align-items: center;
    }
    .img-planetarium1 {
        width: 80%;
        height: 350px;
        margin-bottom: 4vh;
    }
    .img-planetarium2 {
        width: 80%;
        height: 200px;
        margin-bottom: 4vh;
    }
    .parent-article-paragraphe {
        align-items: center;
        margin-bottom: 4vh;
        width: 80%;
    }
    .parent-article-paragraphe > h3{
        text-align: center;
        margin-bottom: 4vh;
    }
    .article-paragraphe {
        text-align: center;
    }
    /* ARTICLE ACTUALITE */
    .actu-section {
        height: auto;
    }
    .article-actu1 {
        flex-direction: column;
        max-width: none;
        width: 100%;
        margin: auto;
        align-items: center;
    }
    .article-actu2 {
        flex-direction: column;
        max-width: none;
        width: 100%;
        margin: auto;
        align-items: center;
    }
    .parent-article-actu {
        align-items: center;
        margin-bottom: 4vh;
        width: 80%;
    }
    .parent-article-actu > h3{
        text-align: center;
        margin-bottom: 4vh;
    }
    .article-actu-paragraphe {
        text-align: center;
    }
    .img-actu1 {
        width: 80%;
        height: 200px;
        margin: 0 auto 4vh auto;
    }
    .img-actu2 {
        width: 80%;
        height: 200px;
        margin: 0 auto 4vh auto;
    }

    /* ----------   PROGRAMMES  ------------------ */

    .programmes {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 30vh auto 20vh;
        justify-content: space-evenly;
        grid-row-gap: 15px;
        padding: 6vh 0 6vh 0;
    }

    .first-part {
        height: auto;
        grid-template-rows: auto 60%;
    }

    .first-part h2 {
        padding: 0 5% 0 5%;
    }

    .second-part {
        padding: 0 5% 0 5%;
        margin-bottom: 2vh;
    }

    .third-part .card-price {
        font-size: var(--programme-price-font-size-mobile);
    }

    .card-button, .card-accessibility, .card-price {
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    .third-part .card-button {
        font-size: var(--buttons-font-size-mobile);
        justify-self: center;
        width: 30%;
    }

    /* ----------   A-PROPOS  ------------------ */

    .apropos {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        justify-items: center;
        padding: 3vh 0 3vh 0;
    }

    .apropos .apropos-img {
        height: var(--apropos-height-width-img-mobile);
        width: var(--apropos-height-width-img-mobile);
        align-self: center;
        margin-bottom: 3vh;
    }

    .apropos .apropos-texts {
        grid-template-rows: auto auto auto;
    }
    
    .apropos-texts .apropos-first-name {
        font-size: var(--apropos-first-name-font-size-mobile);
        text-align: center;
    }
    
    .apropos-texts .apropos-description {
        font-size: var(--apropos-description-font-size-mobile);
        padding: 0 5% 0 5%;
    }

    .apropos-texts .apropos-quote {
        font-size: var(--apropos-quotes-font-size-mobile);
        text-align: center;
    }

    

}

.first-card {
    margin-top: var(--first-card-margin-top);
}




    