:root {
    /* size */
    --header-height: 15vh;
    --footer-height: 20vh;

    --main-width: 100%;

    --header-footer-width: 100%;
    --card-width: 90%;

    /* colors */
    --header-footer-color-bkg: rgba(52, 73, 94,1.0);
    --main-color-bkg: rgba(189, 195, 199,1.0);
    --card-color-bkg: rgba(189, 195, 199,0.2);

    --header-footer-color-font: rgba(189, 195, 199,1.0);

    /* border */
    --border-radius: 15px;

}

    /* Général */
* {
    margin: 0;
    padding: 0; 
    }

    /* main */
.card{
    width : var(--card-width);
    background-color: var(--card-color-bkg);
    height: 300px;
    margin: auto;
    margin-top: 30px;
    border-radius: var(--border-radius);
}
