:root {
    /* size */
    --header-height: 15vh;
    --footer-height: 10vh;

    --header-nav-mobile-height: 40vh;
    --burger-mobile-height-width: 8vh;

    --first-card-margin-top: calc(var(--header-height) + 2vh);
    --banner-margin-top: var(--header-height);
    --banner-heigth: calc(100vh - (var(--header-height)));
    --main-width: 100%;

    --header-footer-width: 100%;
    --card-width: 90%;

    --programme-parts-sizes: 39% 39% 19%;
    --programme-first-part-rows-sizes: 10% 75%;
    --programme-img-width: 70%;

    /* colors */

    --header-footer-color-bkg: rgba(52, 73, 94,1.0);
    --main-color-bkg: rgba(189, 195, 199,1.0);
    --card-color-bkg: rgba(189, 195, 199,0.2);
    --buttons-color-bkg: rgb(134, 134, 247);
    --buttons-color-bkg-hover: rgb(106, 106, 248);
    --buttons-color-font: rgb(255, 255, 255);


    --header-footer-color-font: rgba(189, 195, 199, 1.0);

    /* border */
    --border-radius: 15px;
    --border-radius-programme-img: 5px;
    --border-radius-button: 5px;

    /* font size */
    --header-link-font-size: 1.3rem;
    --programme-price-font-size: 2rem;
    --buttons-font-size: 1.1rem;


}

* {
    margin: 0;
    padding: 0;
}

/* Général */
* {
    margin: 0;
    padding: 0;
}

/* main */
.card {
    width: var(--card-width);
    background-color: var(--card-color-bkg);
    margin: auto;
    margin-top: 30px;
    border-radius: var(--border-radius);
    min-height: 400px;
}
#banner{
    margin-top: var(--banner-margin-top);
    background-position: bottom;
    background-image: url("content/img/greg-rakozy-ompaz-dn-9i-unspla.jpg");
    background-attachment: fixed;
    background-size: cover;
    height: var(--banner-heigth);
    width: 100%;
}


/* ----------   HEADER  ------------------ */
header {
    position: fixed;
    top: 0;
    width: var(--header-footer-width);
    height: var(--header-height);
    background-color: var(--header-footer-color-bkg);
    color: var(--header-footer-color-font);
    display: grid;
    grid-template-columns: 25% 60% 15%;
}

header a {
    text-decoration: none;
    color: var(--header-footer-color-font);
}

header .title-h1 {
    height: 100%;
    width: 100%;
    display: grid;
    background-color: var(--main-color-bkg);
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
}

header h1 {
    justify-self: center;
    align-self: center;
}

header h1 a {
    color: var(--header-footer-color-bkg);
}

header nav {
    width: 100%;
    display: grid;
    align-content: flex-end;
}

header nav ul {
    width: 100%;
    margin-bottom: 3vh;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

header ul li a {
    position: relative;
    font-size: var(--header-link-font-size);
    transition: transform 250ms ease-in-out;
}

header ul li a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: var(--header-footer-color-font);
    position: absolute;
    top: -1rem;
    left: 0;
    right: 0;
    border-radius: 2px;
    transform: scale(0, 1);
    transition: transform 250ms ease-in-out;
}


header ul li a:hover::before {
    transform: scale(1, 1);
}

#burger {
    display: none;
}

    /*footer*/

footer li {
    list-style-type: none;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: var(--footer-height);
    padding: 3rem 5rem 3rem 5rem;
    background-color: var(--header-footer-color-bkg);
    color: var(--header-footer-color-font);
}

footer a {
    text-decoration: none;
    color: var(--header-footer-color-font);
}

#icons {
    width: 20rem;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--header-footer-color-font);
}

#links li {
    margin-top: 0.7rem;
}

#links a {
    font-size: var(--header-link-font-size);
}

#copyright {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 8rem;
}
/* ----------   ACCUEIL     ------------------ */

    /*LE PLANETARIUM*/
.article-planetarium {
    display: flex;
    flex-direction: column;
}
.article-title{
    text-align: center;
    margin-top: 8vh;
}
.article-planetarium > div {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.article-g-et-d {
    max-width: 45%;
    display: flex;
    justify-content: space-around;
}
.img-planetarium1 {
    background-image: url("content/img/Webp.net-resizeimage.jpg");
    width : 40%;
    height: 200px;
    border-radius: var(--border-radius);
    background-size: cover;
}
.img-planetarium2 {
    background-image: url("content/img/museums-victoria-6hh_FgZpqD8-unsplash\ \(1\).jpg");
    width : 40%;
    height: 200px;
    border-radius: var(--border-radius);
    background-size: cover;
}
.parent-article-paragraphe {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.article-paragraphe {
    text-align: left;
}
    /*L'ACTU*/

.actu-section {
    justify-content: space-around;
    height: 600px;
}
.article-planetarium > div {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.img-actu1 {
    background-image: url("content/img/planet\ of\ pat\ debois\ 200px.jpg");
    width : 30%;
    height: 200px;
    border-radius: var(--border-radius);
    background-size: cover;
    background-position: center;
}
.img-actu2 {
    background-image: url("content/img/vue\ de\ la\ terre.jpg");
    width : 30%;
    height: 200px;
    border-radius: var(--border-radius);
    background-size: cover;
    background-position: center;
}
.article-actu1 {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}
.article-actu2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 10vh;
}
.parent-article-actu {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.article-actu-paragraphe {
    text-align: left;
}

/* ----------   PROGRAMMES  ------------------ */

.programmes {
    display: grid;
    grid-template-columns: var(--programme-parts-sizes);
    justify-content: space-evenly;
}

.first-part, .second-part, .third-part {
    height: 100%;
}

.first-part {
    display: grid;
    grid-template-rows: var(--programme-first-part-rows-sizes);
    align-content: space-evenly;
}

.first-part .card-title {
    text-align: center;
}

.first-part .img-prog {
    height: 100%;
    width: var(--programme-img-width);
    justify-self: center;
    background-size: cover;
    border-radius: var(--border-radius-programme-img);
}

.second-part {
    text-align: justify;
    display: grid;
    align-content: space-evenly;
}

.third-part {
    display: grid;
    align-content: space-evenly;
}

.third-part .card-price {
    text-align: center;
    font-size: var(--programme-price-font-size);
}

.third-part .card-accessibility {
    display: flex;
    justify-content: space-evenly;
    
}

.third-part .card-button {
    padding: 10px;
    width: 50%;
    justify-self: center;
    background-color: var(--buttons-color-bkg);
    border: 0;
    border-radius: var(--border-radius-button);
    color: var(--buttons-color-font);
    font-size: var(--buttons-font-size);
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.third-part .card-button:hover {
    transform: scale(0.9);
    background-color: var(--buttons-color-bkg-hover);
}


/* -----------------------------------------------------    MOBILE  ---------------------------------------- */
@media only screen and (max-width: 900px) {

    header {
        grid-template-columns: 50% 40% 10%;
    }

    header nav {
        position: fixed;
        top: var(--header-height);
        width: 100%;
        z-index: 100;
        height: 0;
        overflow: hidden;
        background-color: var(--header-footer-color-bkg);
        align-content: inherit;
        transition: height 250ms ease-in-out;
    }

    header nav.deployed {
        height: var(--header-nav-mobile-height);
    }

    header nav ul {
        height: 100%;
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
    }

    header nav ul li {
        margin-top: 2vh;
    }

    #burger {
        position: absolute;
        top: 5vh;
        right: 8vh;
        display: block;
        height: var(--burger-mobile-height-width);
        width: var(--burger-mobile-height-width);
        display: grid;
        align-items: center;
    }

    #burger .line {
        position: relative;
        display: block;
        width: 100%;
        height: 5px;
        border-radius: 2px;
        background-color: var(--header-footer-color-font);
    }

    #burger .line::before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 5px;
        background-color: var(--header-footer-color-font);
        border-radius: 2px;
        transform: translateY(-2vh);
    }

    #burger .line::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 5px;
        background-color: var(--header-footer-color-font);
        border-radius: 2px;
        transform: translateY(2vh);
    }

    #burger .line,
    #burger .line::before,
    #burger .line::after {
        transition: transform 250ms ease-in-out;
    }

    #burger.cross .line::before,
    #burger.cross .line::after {
        transform: translateY(0);
    }

    #burger.cross .line::before {
        transform: rotate(45deg);
    }

    #burger.cross .line::after {
        transform: rotate(-45deg);
    }

        /*footer*/

    footer{
        flex-direction: column;
        height: 15rem;
        padding-top: 2rem;
    }

    #copyright{
        margin-top: 1.5rem;
    }

    #icons{
        margin-top: 1.5rem;
    }

    #links{
        margin-top: 1.5rem;
    }
    /* ----------   PROGRAMMES  ------------------ */

    .programmes {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 30vh auto 20vh;
        justify-content: space-evenly;
        grid-row-gap: 15px;
    }

    .first-part {
        height: auto;
        grid-template-rows: auto 60%;
    }

    .second-part {
        padding: 0 5% 0 5%;
    }

}

.first-card {
    margin-top: var(--first-card-margin-top);
}

    